.wm-app .panel-heading {
    padding: 5px;
}

.help-accordion .panel-body{
    height: 567px;
    padding: 0;
}

.doc-frame{
    
}


.mm-gridrow {
/*    min-height:550px; */
/*    height:550px; */
    height:calc(100%);
}

.app-accordion-panel .panel-heading {
/*    min-height:550px; */
/*    height:550px; */
/*    height:calc(100%); */
    padding: 10px 0px 0px 10px;
}

.mm-iframe {
    min-height:500px;
}

#watsonChatbot .chat .popover {
    max-width: 85%;
    border-top-left-radius: 4pt;
}

#watsonChatbot .app-picture {
    vertical-align: top;
}

#watsonChatbot .user-message {
    background-color: aliceblue;
}